<?xml version="1.0"?>
<settings>
  <sampleType name="MC">
    <treeName name='Ntuple'/>
    <branch name='EventNumber'/>
    <branch name='datastream'/>
    <branch name='VpT_truth'/>
    <branch name='MET_et'/>
    <branch name='MET_phi'/>
    <branch name='MET_et_noMuon'/>
    <branch name='MET_sumet'/>
    <branch name='MET_Track_sumet'/>
    <branch name='MET_Track_et'/>
    <branch name='MET_Track_phi'/>
    <branch name='Trigger'/>
    <branch name='trigger_met'/>
    <branch name='trigger_el'/>
    <branch name='trigger_mu'/>
    <branch name='RunNumber'/>
    <branch name='vxp_n_selected'/>
    <branch name='mu_pt'/>
    <branch name='mu_eta'/>
    <branch name='mu_phi'/>
    <branch name='mu_type'/>
    <branch name='mu_triggermatched'/>
    <branch name='mu_trackIso'/>
    <branch name='mu_caloIso'/>
    <branch name='el_pt'/>
    <branch name='el_eta'/>
    <branch name='el_phi'/>
    <branch name='el_type'/>
    <branch name='el_triggermatched'/>
    <branch name='el_trackIso'/>
    <branch name='el_caloIso'/>
    <branch name='jet_pt'/>
    <branch name='jet_eta'/>
    <branch name='jet_phi'/>
    <branch name='jet_E'/>
    <branch name='jet_corrected_pt'/>
    <branch name='jet_corrected_eta'/>
    <branch name='jet_corrected_phi'/>
    <branch name='jet_corrected_E'/>
    <branch name='jet_jvtxf'/>
    <branch name='jet_flavor_weight_MV1'/>
    <branch name='jet_flavor_truth_label'/>
    <branch name='jet_flavor_truth_hadron_label'/>
    <branch name='jetBTAGproperties'/>
    <branch name='weight_total'/>
    <branch name='weight_PU'/>
    <branch name='weight_MC'/>
    <branch name='weight_zvtx'/>
    <branch name='weight_MET'/>
    <branch name='weight_lepton1'/>
    <branch name='weight_lepton2'/>
    <branch name='weight_lepton1_var'/>
    <branch name='weight_lepton2_var'/>
    <branch name='weight1or2Tag'/>
    <branch name='weight2Tag'/>
    <branch name='weightbTagDT'/>
    <branch name='mc_channel_number'/>
  </sampleType>

  <sampleType name="DATA">
    <treeName>Ntuple</treeName>
    <branch name='EventNumber'/>
    <branch name='datastream'/>
    <branch name='MET_et'/>
    <branch name='MET_phi'/>
    <branch name='MET_et_noMuon'/>
    <branch name='MET_sumet'/>
    <branch name='MET_Track_sumet'/>
    <branch name='MET_Track_et'/>
    <branch name='MET_Track_phi'/>
    <branch name='Trigger'/>
    <branch name='trigger_met'/>
    <branch name='trigger_el'/>
    <branch name='trigger_mu'/>
    <branch name='RunNumber'/>
    <branch name='vxp_n_selected'/>
    <branch name='mu_pt'/>
    <branch name='mu_eta'/>
    <branch name='mu_phi'/>
    <branch name='mu_type'/>
    <branch name='mu_triggermatched'/>
    <branch name='mu_trackIso'/>
    <branch name='mu_caloIso'/>
    <branch name='el_pt'/>
    <branch name='el_eta'/>
    <branch name='el_phi'/>
    <branch name='el_type'/>
    <branch name='el_triggermatched'/>
    <branch name='el_trackIso'/>
    <branch name='el_caloIso'/>
    <branch name='jet_pt'/>
    <branch name='jet_eta'/>
    <branch name='jet_phi'/>
    <branch name='jet_E'/>
    <branch name='jet_corrected_pt'/>
    <branch name='jet_corrected_eta'/>
    <branch name='jet_corrected_phi'/>
    <branch name='jet_corrected_E'/>
    <branch name='jet_jvtxf'/>
    <branch name='jet_flavor_weight_MV1'/>
    <branch name='jetBTAGproperties'/>
    <branch name='weight_total'/>
    <branch name='weight_PU'/>
    <branch name='weight_MC'/>
    <branch name='weight_zvtx'/>
    <branch name='weight_MET'/>
    <branch name='weight_lepton1'/>
    <branch name='weight_lepton2'/>
    <branch name='weight_lepton1_var'/>
    <branch name='weight_lepton2_var'/>
    <branch name='weight1or2Tag'/>
    <branch name='weight2Tag'/>
    <branch name='weightbTagDT'/>
  </sampleType>
  <cuts>
    <cut name='mcTypeVeto'/>
    <cut name='looseLeptonMin1'/>
    <cut name='WHSignalLepton'/>
    <cut name='looseLeptonVeto'/>
    <cut name='Trigger'/>
    <cut name='TriggerMatched'/>
    <cut name='metVeto'/>
    <cut name='mTWlowCut'/>
    <cut name='mTWlt120'/>
    <cut name='jetMin2jets'/>
    <cut name='jetMin2Veto'/>
    <cut name='bJetMin1'/>
    <cut name='bJetExactly2'/>
    <cut name='jetVeto'/>
    <cut name='dRgt07ptWlt200'/>
    <cut name='dRlt34ptWlt90'/>
    <cut name='dRlt30ptWgt90_lt120'/>
    <cut name='dRlt23ptWgt120_lt160'/>
    <cut name='dRlt18ptWgt160_lt200'/>
    <cut name='dRlt14ptWgt200'/>
    <cut name='jet1pT'/>
    <cut name='pTWgt0_lt90'/>
    <cut name='pTWgt90_lt120'/>
    <cut name='pTWgt120_lt160'/>
    <cut name='pTWgt160_lt200'/>
    <cut name='pTWgt200'/>
    <cut name='pTWgt120'/>
  </cuts>

</settings>
